.vscode
*.pyc
data
documentation/*.tag
documentation/dia
documentation/doxygen
documentation/Graphviz
documentation/html
.idea
100m
log*.txt
pyfire/venv
*.whl
**/logs
**/build
**/private

