[submodule "tbd/cffdrs-ng"]
	path = tbd/src/py/cffdrs-ng
	url = git@github.com:jordan-evens/cffdrs-ng.git
	branch = main
[submodule "firestarr"]
	path = firestarr
	url = git@github.com:jordan-evens/firestarr.git
	branch = main
