affine==2.3.0
attrs==21.4.0
certifi==2021.10.8
click==8.0.4
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.4
cycler==0.11.0
fonttools==4.29.1
GDAL @ file:///D:/FireGUARD/pyfire/GDAL-3.4.1-cp39-cp39-win_amd64.whl
kiwisolver==1.3.2
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
Pillow==9.0.1
pyparsing==3.0.7
python-dateutil==2.8.2
rasterio @ file:///D:/FireGUARD/pyfire/rasterio-1.2.10-cp39-cp39-win_amd64.whl
six==1.16.0
snuggs==1.4.7
