azure-batch
azure-storage-blob
bs4
ConfigParser
filelock
geopandas
ipython
multiprocess
numpy
pandas
psutil
pyarrow
pycrs
pyogrio
pyrate-limiter==2.10.0
rasterio
requests
scipy
shapely
timezonefinder
tqdm
